<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="viewMappings" type="Mozart.Studio.TaskModel.Configuration.ViewMappingSection, Mozart.Studio.TaskCommon"/>
    <section name="menus" type="Mozart.Studio.TaskModel.Configuration.MenuSection, Mozart.Studio.TaskCommon"/>
  </configSections>
  <viewMappings>
    <!--<add name="Results/LoadHistory" type="CSOT.Lcd.UserInterface.Analysis.LoadHistView, CSOT.Lcd.UserInterface"/>-->
  </viewMappings>
  <menus>
    <categories>
      <category name="EtcMenu">
        <add name="EtcTools" text="&amp;EtcTools" popup="true"/>
        <add name="ViewDataBases" text ="ViewDataBases" viewType ="CSOT.UserInterface.Tools.ViewDataBases, CSOT.UserInterface" />
        <add name="ViewDataActions" text ="ViewDataActions" viewType ="CSOT.UserInterface.Tools.ViewDataActions, CSOT.UserInterface" />
        <add name="ViewSchemas" text ="ViewSchemas" viewType ="CSOT.UserInterface.Tools.ViewSchemas, CSOT.UserInterface" />
      </category>
      <category name="Commands">
        <clear />
        <add name="ctxPlan" text="&amp;Analysis" popup="true" shortcut="None"
          viewKind="Result" />
        <add name="LayerBalanceWipView" text="LayerBalance Wip Trend" popup="false" shortcut="None"
          viewType="CSOT.Lcd.UserInterface.Analysis.LayerBalanceWipView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="StepWipView" text="Step Wip Trend" popup="false" shortcut="None"
          viewType="CSOT.Lcd.UserInterface.Analysis.StepWipView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="StepMoveView" text="Step Move" popup="false" shortcut="None"
          viewType="CSOT.Lcd.UserInterface.Analysis.StepMoveView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="StepMoveCompareView" text="Step Move Compare" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.StepMoveCompareView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="EqpUtilization" text="EQP Utilization" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.EqpUtilizationView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="TargetPlanCompareView" text="Target VS Plan"
          popup="false" shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.TargetPlanCompareView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="LotHistoryView" text="Lot History" popup="false" shortcut="None"
          viewType="CSOT.Lcd.UserInterface.Analysis.LotPathInfoView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="BalanceTableView" text="ARRAY / CF Balance" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.BalanceTableView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="BatchProgressView" text="Batch Progress" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.BatchProgressView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="JobChangePlanView" text="Product Progress" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.JobChangePlanView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="DispatchingAnalysisView" text="Dispatching Analysis" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.DispatchingAnalysisView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="DispatchingLogView" text="Dispatching Log" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.DispatchingLogView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="StepWipSnapshotView" text="Step Wip Snapshot" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.StepWipSnapshotView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="ArrangeAnalysisView" text="Arrange Analysis View" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.ArrangeAnalysisView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="ctxPlan2" text="&amp;Gantt" popup="true" shortcut="None"
          viewKind="Result" />
        <add name="EqpGanttChart" text="EQP Gantt Chart" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Gantts.EqpGanttView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="LotGanttChart" text="Lot Gantt Chart" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.LotGantts.LotGanttView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="ToolGanttChart" text="Tool Gantt Chart" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.ToolGantts.ToolGanttView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="ctxPlan3" text="&amp;Validation" popup="true" shortcut="None"
          viewKind="Result" />
        <add name="EqpArrProductAnalView" text="Eqp Arrange / Product"
          popup="false" shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.EqpArrProductAnalView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="ProgressRateView" text="Progress Rate" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.ProgressRateView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="InOutCompareView" text="In / Out Compare" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.InOutCompareView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="TatCompareView" text="Tat Compare" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.TatCompareView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="LoadHistory" text="Load History" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.LoadHistView, CSOT.Lcd.UserInterface"
          viewKind="Result"/>
        <add name="ProductRouteView" text="Product Route View" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.ProductRouteView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        <add name="ToolUseStateView" text="Tool Use State View" popup="false"
          shortcut="None" viewType="CSOT.Lcd.UserInterface.Analysis.ToolUseStateView, CSOT.Lcd.UserInterface"
          viewKind="Result" />
        
      </category>
    </categories>
    <bars>
      <bar name="EtcTools" type="Menu">
        <add name ="ViewDataBases"/>
        <add name ="ViewDataActions"/>
        <add name ="ViewSchemas"/>
      </bar>
      <bar name="ctxPlan" type="Menu" position="-1">
        <clear />
        <add name="LayerBalanceWipView" position="-1" beginGroup="false" />
        <add name="StepWipView" position="-1" beginGroup="false" />
        <add name="StepWipSnapshotView" position="-1" beginGroup="false" />
        <add name="StepMoveView" position="-1" beginGroup="false" />
        <!--<add name="StepMoveCompareView" position="-1" beginGroup="false" /-->
        <!--<add name="InOutCompare" position="-1" beginGroup="true" />-->
        <!--<add name="InOutCompareView" position="-1" beginGroup="true" /-->
        <add name="EqpUtilization" position="-1" beginGroup="false" />
        <!--<add name="LotHistoryView" position="-1" beginGroup="true" />-->
        <!--<add name="ProgressRateView" position="-1" beginGroup="true" /-->
        <add name="DispatchingAnalysisView" position="-1" beginGroup="false" />
        <add name="DispatchingLogView" position="-1" beginGroup="false" />
        <add name="TargetPlanCompareView" position="-1" beginGroup="false" />
        <!--<add name="WorkOrderView" position="-1" beginGroup="true" /-->
      </bar>
      <bar name="ctxPlan2" type="Menu" position="-1">
        <clear />
        <add name="EqpGanttChart" position="-1" beginGroup="false" />
        <!--<add name="LoadHistory" position="-1" beginGroup="false" /-->
        <!--<add name="LotGanttChart" position="-1" beginGroup="false" /-->
        <add name="ToolGanttChart" position="-1" beginGroup="false" />
      </bar>
      <bar name="ctxPlan3" type="Menu" position="-1">
        <clear />
        <!--<add name="ProductRouteView" position="-1" beginGroup="false" /-->
        <!--<add name="WipReportView" position="-1" beginGroup="false" /-->
        <!--<add name="EqpArrangeView" position="-1" beginGroup="false" /-->
        <!--<add name="EqpArrProductAnalView" position="-1" beginGroup="false" /-->
        <!--<add name="PegTargetValidationView" position="-1" beginGroup="false" /-->
        <!--<add name="RunTatCompareView" position="-1" beginGroup="false" /-->
        <add name="ArrangeAnalysisView" position="-1" beginGroup="false" />
        <add name="ProductRouteView" position="-1" beginGroup="false" />
        <add name="ToolUseStateView" position="-1" beginGroup="false" />
        <!--<add name="TatCompareView" position="-1" beginGroup="false" /-->
      </bar>
      <bar name="Project" type="ContextMenu" position="-1">
        <clear />
        <add name="ctxPlan" position="-1" beginGroup="true" />
        <add name="ctxPlan2" position="-1" beginGroup="true" />
        <add name="ctxPlan3" position="-1" beginGroup="true" />
      </bar>
      <bar name="-" type="Menu" position="-1">
        <clear />
        <add name="EtcTools" position="2"/>
        <add name="ctxPlan" position="3" beginGroup="false" />
        <add name="ctxPlan2" position="4" beginGroup="false" />
        <add name="ctxPlan3" position="5" beginGroup="false" />
      </bar>
      <bar name="Edit" type="ContextMenu" position="-1">
        
        <clear />
      </bar>
      <bar name="Standards" type="ToolBar" position="-1">
        <clear />
      </bar>      
    </bars>
  </menus>
</configuration>
