<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="viewMappings" type="Mozart.Studio.TaskModel.Configuration.ViewMappingSection, Mozart.Studio.TaskCommon"/>
    <section name="menus" type="Mozart.Studio.TaskModel.Configuration.MenuSection, Mozart.Studio.TaskCommon"/>
  </configSections>
  <viewMappings>
  </viewMappings>
  <menus>
    <categories>
      <category name="Menu1">
        <add name="EtcTools" text="&amp;EtcTools" popup="true"/>
        <add name="ViewDataBases" text ="ViewDataBases" viewType ="CSOT.UserInterface.Tools.ViewDataBases, CSOT.UserInterface" />
        <add name="ViewDataActions" text ="ViewDataActions" viewType ="CSOT.UserInterface.Tools.ViewDataActions, CSOT.UserInterface" />
        <add name="ViewSchemas" text ="ViewSchemas" viewType ="CSOT.UserInterface.Tools.ViewSchemas, CSOT.UserInterface" />
      </category>
    </categories>
    <bars>
      <bar name="EtcTools" type="Menu">
        <add name ="ViewDataBases"/>
        <add name ="ViewDataActions"/>
        <add name ="ViewSchemas"/>
      </bar>
      <!--bar name="ctxPlan" type="Menu">
        <add name ="EqpGanttView"/>       
      </bar-->
      <bar name="Project" type="ContextMenu">
        <!--add name="EtcTools" beginGroup="true"/-->        
      </bar>
      <bar name="-" type="Menu">
        <add name="EtcTools" position="3"/>
        <!--add name="ctxPlan" position="4"/-->
      </bar>
    </bars>
  </menus>
</configuration>